/node_modules
/dist
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/bootstrap/.idea/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
yarn.lock
/.php_cs.cache
.php-cs-fixer.cache

/public/css/
/public/js/
/public/mix-manifest.json
/public/js
/public/css
/public/sitemap.xml
/public/robots.txt
/public/service-worker.js
/public/service-worker.js.map
/public/service-worker.js.LICENSE.txt
/public/workbox-*.js
/public/workbox-*.js.map
/public/workbox-*.js.LICENSE.txt
/public/*.worker.js
/public/*.worker.js.map
/public/*.worker.js.LICENSE.txt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

